/* CSS */

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    position: relative;
  }
  
  header {
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  header h1 {
    margin: 0;
  }
  
  #go-back {
    position: absolute;
    top: 100px; 
    left: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
  }
  
  label {
    margin-top: 20px;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #cccccc;
    color: #333333;
  }
  
  footer {
    background-color: #333333;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  
  footer p {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
  
    #go-back {
      position: absolute;
      top: 60px; /* Adjusted to move the button 40 pixels down */
      left: 20px;
    }
  
    form {
      max-width: 400px;
    }
  }
  
  @media (max-width: 576px) {
    header h1 {
      font-size: 20px;
    }
  
    footer p {
      font-size: 12px;
    }
  }
  
